/Client.class
/Location.class
/Server.class
/ClientHandler.class
/ClientInfo.class
/StatusMessages.class
/DecodeMessage.class
/ClientsideReceiver.class
/TestClient.class
/TestObject.class
/TestServer.class
/ClientHeartbeat.class
/HandleHeartBeat.class
/ReceiveHearBeats.class
/DeleteTimedoutClients.class
